<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96509713371-di1qjfgsuagco67vcl6bimf1pgf5binl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96509713371-di1qjfgsuagco67vcl6bimf1pgf5binl</string>
	<key>API_KEY</key>
	<string>AIzaSyAENgNjOvpDlZ0bTXCd_SRxicJ2Tat410w</string>
	<key>GCM_SENDER_ID</key>
	<string>96509713371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vlada.predybaylo-icloude.com.ProjectMS</string>
	<key>PROJECT_ID</key>
	<string>projectms-2b749</string>
	<key>STORAGE_BUCKET</key>
	<string>projectms-2b749.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96509713371:ios:7a825050cce319afcbe5fe</string>
</dict>
</plist>